@model IEnumerable<calendario.Models.Categoriacultivo>

@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    <script>
        $(document).ready(function(){
            $('#tbl_categoriacultivo').DataTable();
        });
    </script>
}

<h1>Tabla: Categoría de Cultivo</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table id="tbl_categoriacultivo" class="display">
    <thead>
        <tr>
            <th>
                Nombre de Categoría
            </th>
            <th>
                Fecha de Registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategoriaCultivo" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCategoriaCultivo" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategoriaCultivo" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
