@model IEnumerable<calendario.Models.Cultivo>
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script>
        $(document).ready(function(){
            $('#tbl_cultivo').DataTable();
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">Calendario de Siembra</h1>
    <p>Desarrolla tus proyectos agrícolas de manera profesional!</p>
    <table id="tbl_cultivo" class="display">
    <thead>
        <tr>
            <th>
                Nombre de Cultivo
            </th>
            <th>
                Estación
            </th>
            <th>
                Fecha Inicial
            </th>
            <th>
                Fecha Final
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTermino)
            </td>
            <td id="@item.IdCultivo"> |
                <script> 
                    var mapping = "@item";
                    var tableName = mapping.split(".");
                    var rutaTabla = "/"+tableName[2]+"/"+"Details"+"/"+"@item.IdCultivo";
                    var a = document.createElement("a");
                    a.innerHTML = "Detalles";
                    a.setAttribute("href",rutaTabla);
                    a.setAttribute("class","btn btn-info");
                    var td_detalle = document.getElementById("@item.IdCultivo");
                    td_detalle.appendChild(a);
                </script>
            </td>
            
        </tr>
}
    </tbody>
</table>
</div>
